*{
	box-sizing:border-box;
}
html{
	background-color:rgb(93, 163, 255);
	height: 100%;
	font-size:14px;
	margin:0px;
	color:rgb(0, 0, 0);
}
body{
	margin:0px;
	height:100%;
	font-size: 100%;
	line-height: 1.6;
	font-weight: 300;
	font-family: 'Be Vietnam Pro', sans-serif;
}
[class*="col-"]{
	float:left;
	padding:0px;
}
a:link{
	text-decoration:black;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.33%;
}
.col-8{
	width:66.66%;
}
.col-9{
	width:75%
}
.col-10{
	width:83.33%
}
.col-11{
	width:91.66%	
}
.col-12{
	width:100%
}
.col-13{
	width:14.2%;
}
.col-14{
	width:20%;
}
.container{
	position:relative;
}
.row::after{
	content:"";
	clear:both;
	display:table;
}
/*buttons*/
.menu{
	height:45px;
	width:45px;
	margin-top:15px;
	position:absolute;
	left:2%;
}
.fb-btn{
	height:20px;
	width:20px;
	margin:25px;
}
.call-btn{
	height:45px;
	width:45px;
	margin-top:15px;
}
.call-btn1{
	height:45px;
	width:45px;
	margin-top:25px;
}
/*pics*/
.landing{
	background-image: url("./Oil-Change-Brampton-.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
	filter: blur(.5px);
}
.b2{
	background-image: url("./Diesel-Truck-Repair-Vancouver-WA-Cover.jpg");
}
.b3{
	background-image: url("./bmw-black-beauty.jpg");
}
.services{
	position:relative;
	top:0px;
	width:100%;
	z-index:-1;
	height:auto;
}
.servicepic{
	height: 150px;
	width: 150px;
	margin:25px;
}
.center .servicepic:hover{
	border:solid 2px black;
	border-radius:2.5%;
	padding:10px;
}
.appointment{
	position:relative;
	top:65px;
	left:2.5%;
	width:95%;
	z-index:-1;
	height:750px;
	border-radius:2.5%;
	filter: blur(1px);
}
.logo{
	position:absolute;
	top:0;
	margin-top:15px;
}
.gallerypic{
	height:275px;
	width: 98%;
}
.closebtn{
    position:absolute;
    top:0;
    left:0;
    font-size:400px;
    font-weight:1000;
}
.submit-btn{
	background-color: #ffffff;
	border-radius: 2.5%;
	color:#1a1a1a;
	font-size: 24px;
	border:solid 1px #ffffff;
}
/*position*/
.box{
	position:absolute;
	right:1%;
}
.box1{
	margin-top:50px;
}
.box2{
	margin-top:100px;
	margin-left:5px;
}
.box3{
	margin-top:5px;
	margin-left:5px;
}
.box4{
	margin-top:25px;
	padding:10px;
	z-index:-1;
	opacity: 1;
}
.box41{
	margin-top:65px;
	padding:10px;
	z-index:-1;
}
.box5{
	position:absolute;
	bottom:450px;
	right:25px;
}
.box6{
	margin-right:500px;
}
.box7{
    padding-right:150px;
    padding-left:50px;
}
.box13{
	position: absolute;
	top:0;
}
.box131{
	position:fixed;
	top:10%;
	right:-20%;
	display: none;
}
.box81{
	position:absolute;
	top:15%;
	left:55%;
	margin-right:25px;
	padding-left:50px;
	padding-bottom:20px;
	background-color:#1a1a1a;
	border-radius:2.5%;
	opacity:0.85;
}
.service{
	font-size:75px;
	font-weight:700;
	font-family: 'Rampart One', cursive;
	position:absolute;
	bottom:850px;
	left:34%;
	color:rgb(255, 255, 255);
}
.touch{
	font-size:75px;
	font-weight:700;
	font-family: 'Rampart One', cursive;
	position:absolute;
	bottom:850px;
	left:34%;
	color:rgb(255, 255, 255);
}
.appoint{
	font-size:28px;
	font-weight:700;
	position:absolute;
	top:-1.5%;
	left:5%;
	color:rgba(255, 255, 255, 0.925);
}
.nav{
	color:#eef6ff;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.center{
	text-align:center;
}
.left{
	float:left;
}
.copyright{
	color:rgb(29, 25, 25);
	position:absolute;
	bottom:0;
}
.width3{
	position:relative;
	left:65%;
}
.about{
	font-size:16px;
	font-weight:500;
	padding-left:20px;
}
.about1{
	font-size:14px;
	font-weight:400;
	padding-left:100px;
	padding-right:100px;
}
.beige{
	color:#888888;
	margin-top:70px;
}
.number{
	font-weight: 1000;
	font-size:40px;
	font-family: 'Rampart One', cursive;
	text-align: center;
	margin:50px;
	margin-bottom: 0px;
	color:#d4e0ff;
}
.text-light{
	font-weight: 1000;
	font-size:32px;
	font-family: 'Rampart One', cursive;
	text-align: center;
	margin:50px;
	margin-top:0px;
	margin-bottom: 0px;
	color:#d4e0ff;
}
.text-light1{
	font-weight: 1000;
	font-size:32px;
	font-family: 'Rampart One', cursive;
	text-align: center;
	margin:50px;
	margin-top:0px;
	margin-bottom: 0px;
	color:#d4e0ff;
}
.meet{
	font-size:65px;
	position:relative;
	left:12%;
}
footer{
	background-color: #1a1a1a;
}
/*animation*/
.box a:hover{
	color:#1a1a1a;
}
.slideshow-container {
	width: 100%;
    left: 50%;
	top:350px;
    transform: translate(-50%, -50%);
}
.slide-image {
	display: none;
}
.dots {
	text-align: center;
	position:absolute;
	bottom:10%;
	left:50%;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color:white;
}
.fade {
	animation-name: fade;
	transition-timing-function: linear;
	animation-duration: 1s;
}

@keyframes fade {
	from {
		opacity: 0.4;
		transform: translateX(-10px);
	}
	to {
		opacity: 1;
	}
	.m{
	    width:450px;
	    height:400px;
	    margin:40px;
	}
}
		@media (min-width:0px) and (max-width:480px){
	[class*="col-"]{
				width:100%;
	}
/* side navgation menu */
.sidenav{
    height:100%;
    width:0; /* change with JS */
    position: fixed; /*stay in place*/
    z-index: 1; /* stay on top */
    top: 0; /* stay at the top */
    left: 0;
    background-color: rgb(148, 195, 255);
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 transition effect to slide in the sidenav */
}

/* the navigation menu links */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #020202;
    display: block;
    transition: 0.3s;
}

/* when you mouse over the nav links, change color */
.sidenav a:hover{
    color:#a73535;
}

/*style page content - use this if you want to push the page content to the right when you open the side navigation */
#main{
    transition: margin-left .5s;
    padding: 20px;
}
.box131{
	display: block;
	z-index:1;
	top:0%;
	left:2%;
}
.box13{
	top:10%;
}
.logo{
	position:absolute;
	top:0;
	right:35%;
}
.box4{
	margin-top:25px;
	padding:8px;
	z-index:-1;
}
.box5{
	bottom:40px;
	left:15px;
}
.number{
	font-size: 55px;
	margin-bottom: 0px;
}
.text-light{
	font-size: 30px;
	margin-bottom: 0px;
}
.text-light1{
	font-size: 30px;
	margin-bottom: 20px;
}
.box13 h3{
	display: hidden;
	font-size:0;
	left:3%;
}
.box81{
	position:absolute;
	width:95%;
	top:15%;
	left:2.5%;
	padding-left:40px;
	padding-bottom:20px;
}
.service{
	font-size:54px;
	font-weight:700;
	bottom:1450px;
	left:15%;
}
.touch{
	font-size:50px;
	font-weight:700;
	bottom:1150px;
	left:7.5%;
	margin:0px;
}
.meet{
	left:-5%;
	font-size:54px;
}
.appoint{
	font-size:24px;
	font-weight:900;
	position:absolute;
	top:0.5%;
	left:5%;
}
.appointment{
	position:relative;
	border-radius:0px;
	top:65px;
	left:0%;
	width:100%;
	z-index:-1;
	height:750px;
}
.width{
	width:50%;
}
.width3{
	width:33.3%;
	left:0%;
}
.about{
    padding-left:50px;
    padding-right:50px;
}
.servicepic{
    height:100px;
    width:100px;
}
.landing{
	height: 750px;
}
.slideshow-container {	
	top:375px;
}
.dots {
	bottom:0%;
	left:45%;
}
.m{
    margin:20px;
    height:300px;
    width:300px;
}
}
@media (min-width: 481px) and (max-width: 768px){
	[class*="col-"]{
	width:100%;
}
/* side navgation menu */
.sidenav{
    height:100%;
    width:0; /* change with JS */
    position: fixed; /*stay in place*/
    z-index: 1; /* stay on top */
    top: 0; /* stay at the top */
    left: 0;
    background-color: rgb(148, 195, 255);
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 transition effect to slide in the sidenav */
}

/* the navigation menu links */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #020202;
    display: block;
    transition: 0s;
}

/* when you mouse over the nav links, change color */
.sidenav a:hover{
    color:#a73535;
}

/*style page content - use this if you want to push the page content to the right when you open the side navigation */
#main{
    transition: margin-left .5s;
    padding: 20px;
}
.box131{
	display: block;
	z-index:1;
	top:0%;
	left:2%;
}
.box13{
	top:10%;
}
.logo{
	position:absolute;
	top:0;
}
.box4{
	margin-top:25px;
	padding:8px;
	z-index:-1;
}
.box5{
	bottom:125px;
	left:65px;
}
.landing{
	height: 700px;
}
.number{
	font-size: 45px;
	margin-bottom: 0px;
}
.text-light{
	font-size: 28px;
	margin-bottom: 0px;
}
.text-light1{
	font-size: 28px;
	margin-bottom: 20px;
}
.box6{
	margin:0px;
}
.box13 h3{
	display: hidden;
	font-size:0;
	left:3%;
}
.box81{
	position:absolute;
	width:75%;
	top:20%;
	left:12.5%;
	padding-left:40px;
	padding-bottom:20px;
}
.logo{
	position: absolute;
	right:35%;
}
.service{
	font-size:75px;
	font-weight:700;
	bottom:1600px;
	left:18%;
}
.appoint{
	font-size:24px;
	font-weight:900;
	position:absolute;
	top:0.5%;
	left:5%;
}
.appointment{
	position:relative;
	top:65px;
	left:2.5%;
	width:95%;
	z-index:-1;
	height:750px;
}
.width{
	width:50%;
}
.width3{
	width:33.3%;
	left:0%;
}
.touch{
	font-size:54px;
	font-weight:700;
	bottom:1150px;
	left:15%;
	margin:0px;
}
.meet{
	left:-7.5%;
	font-size:54px;
}
}
		@media (min-width:769px) and (max-width:1279px){
			.landing{
				height: 700px;
			}
			.box5{
				bottom:225px;
				left:-25px;
			}
			.number{
				font-size: 95px;
				margin-bottom: 0px;
			}
			.text-light{
				font-size: 38px;
				margin-bottom: 0px;
			}
			.text-light1{
				font-size: 38px;
				margin-bottom: 20px;
			}
			.service{
				font-size:145px;
				font-weight:700;
				bottom:950px;
				left:12.5%;
			}
			.touch{
				font-size:100px;
				font-weight:700;
				bottom:600px;
				left:12.5%;
			}
}
		@media screen(max-height:450px) {
    .sidenav {padding-top:15px;}
    .sidenav { font-size: 18px;}
}
		@media (min-width:1280px){
.landing{
	height: 900px;
}
.sidenav{
        height:62.5%;
}
.sidenav a{
    font-size: 20px;
}
.services{
	height:15%;
}
.box5{
	bottom:450px;
	left:25px;
}
.number{
	font-size: 40px;
	margin-bottom: 0px;
}
.text-light{
	font-size: 32px;
	margin-bottom: 0px;
}
.text-light1{
	font-size: 32px;
	margin-bottom: 20px;
}
}
		@media (min-width: 1921px) {
  /* for screens larger than 1920, fix text size - DigiP */

}
